<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="table">
                        <thead>
                        <tr class="text-center">
                            <th>Key</th>
                            <th>备注</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>UUID</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>